



#heater-checkboxes {
	position: absolute;
    top: 45px;
    color: white;
    display:none;
}

.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left:20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
	position: absolute;
	top:0;
	left:0;
	height:25px;
	width:25px;
	background-color: #eee;
	border-radius:50%;
}

.container:hover input ~ .checkmark {
	background-color:#ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position:absolute;
	display:none;
}



.container input:checked ~ .checkmark:after {
	display:block;
}

.container .checkmark:after {
	top: 9px;
	left: 9px;
	width:8px;
	height:8px;
	border-radius:50%;
	background:white;
}



#weekdays {
	position: absolute;
    color: white;
    top: 80px;
    left:15px;
    cursor:pointer;
}

.weekdays-day {
	padding-left:10px;
	padding-right:10px;
	border:solid 3px white;
	border-radius:3px;
}

.weekdays-day:hover {
	background-color:white;
	color:#1c99e4;
}

#weekdays-table { 
  border-collapse: separate;
  border-spacing: 10px 5px;
}

#weekdays-day1 {
  background-color:white;
  color:rgb(28, 153, 228);
}

#day-table {
	border-collapse: separate;
 	border-spacing: 10px 5px;
 }

 .day-day {
 	padding-left: 183px;
    padding-right: 184px;
    border: solid 3px white;
    border-radius: 3px;
 }


 #heater-times {
 	position:absolute;
 	top:100px;
 	position: absolute;
    top: 130px;
    left: 10px;
    color: var(--main-text-color);
 }

 #heater-times-table {
 	border-collapse: separate;
  	border-spacing: 15px 15px;
 }

 .heater-times-element.bordered {
 	border: solid 3px white;
    border-radius: 3px;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
 }

.heater-times-element.bordered:hover {
	background-color:white;
	color:#1c99e4;
}